{% extends 'base.html' %}

{% block title %}
    Cart
{% endblock %}

{% load static %}

{% block body %}
    <h1>My Cart</h1>
 {% for item in items %}

      <div class="row m-5 p-2">
      <div class="col-5">
          <img class="img-fluid" id="cart_img" src="{{ item.image.url }}" alt="{{ item.name }}" height="100px">
      </div>
      <div class="col-6">
          <h3> {{ item }} </h3>

        <form action="{% url 'cart' %}"  method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}", name="item_id">
            <input class="btn btn-outline-danger" type="submit" value="Remove">
        </form>
      </div>
      </div>
        <hr>
   {% endfor %}

{% endblock %}